<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/logo.png">
    <!-- Template CSS -->
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.3/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



    <style>

.premium-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.premium-table th,
.premium-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #f0f0f0;
}

.premium-table th {
    background-color: #3f51b5; /* Header background color */
    color: #fff; /* Header text color */
    font-weight: bold;
}

.premium-table tbody tr:nth-child(even) {
    background-color: #f5f5f5; /* Alternate row background color */
}

.premium-table tbody tr:hover {
    background-color: #e0e0e0; /* Hover row background color */
}

.premium-table td:last-child {
    text-align: right; /* Align action column to the right */
}

/* Button style for action column */
.premium-table .btn {
    padding: 6px 12px;
    border-radius: 5px;
    background-color: #4caf50; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.premium-table .btn:hover {
    background-color: #388e3c; /* Hover background color */
}
.badge.alert-success {
        background-color: #174f30; /* Emerald Green */
        color: #fff;
    }

    .badge.alert-danger {
        background-color: #ca2929; /* Alizarin Red */
        color: #fff;
    }
    .premium-button {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #3f51b5; /* Violet button background color */
    color: #fff; /* Button text color */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s ease;
}

.premium-button:hover {
    background-color:#5f6cb9; /* Hover background color */
}

/* Premium Level Form Styles */
#couponForm {
    margin-bottom: 30px;
}

.form-label {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
}

.form-group {
    margin-bottom: 20px;
}

.error-message {
    font-size: 14px;
    color: red;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Premium Level Table Styles */
.premium-table {
    width: 100%;
    border-collapse: collapse;
}

.premium-table th,
.premium-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.premium-table th {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    background-color: #f8f9fa;
}

.premium-table tbody tr:hover {
    background-color: #f0f0f0;
}


    </style>

</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/assets/imgs/theme/logo.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                 
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                
                <!-- <li class="menu-item has-submenu">  -->
                    <a class="menu-link" href="/admin/productlist"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                   
                <!-- <li class="menu-item has-submenu"> -->
                    <a class="menu-link" href="/admin/getOrders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                   
                <!-- <li class="menu-item has-submenu"> -->
                    <a class="menu-link" href="/admin/userlist"> <i class="bi bi-person-fill"></i>
                        <span class="text">Customers</span>
                    </a>
                     
                <!-- <li class="menu-item has-submenu"> -->
                    <a class="menu-link" href="/admin/addProduct"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    <a class="menu-link" href="/admin/categories"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Catagories</span>
                    </a>
                   
               
                    <a class="menu-link" href="/admin/banner"> <i class="icon material-icons md-person"></i>
                        <span class="text">Banner Management</span>
                    </a>
                    
                    <a class="menu-link" href="/admin/offers"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Offers</span>
                    </a>
                  
                    
             
                
                <!-- <li class="menu-item"> -->
                    <a class="menu-link" href="/admin/brand"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                <!-- </li> -->
                <!-- <li class="menu-item"> -->
                    <li class="menu-item active"> 
                    <a class="menu-link" disabled href="/admin/Coupons"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Coupon</span>
                    </a>
                   
                 </li> 
            </ul>
            <hr>
            <ul class="menu-aside">
                <!-- <li class="menu-item has-submenu"> -->
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    
                <!-- <li class="menu-item"> -->
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                <!-- </li> -->
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                   
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                           
                        </a>
                    </li>
                   
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/admin-assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                           
                            <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Coupons</h2>
                    <p>create coupons</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <!-- Form Section -->
                        <div class="col-md-4">
                            <div class="container">
                                <form id="couponForm" action="/admin/createCoupon" method="post">
                                    <div class="form-group">
                                        <label for="couponName" class="form-label">Name</label>
                                        <input type="text" placeholder="Enter coupon name" name="name" id="couponName" class="form-control" required>
                                        <small id="couponNameError" class="error-message"></small>
                                    </div>
                                    <div class="form-group">
                                        <label for="couponCode" class="form-label">Code</label>
                                        <input type="text" placeholder="Enter coupon code" name="code" id="couponCode" class="form-control" required>
                                        <small id="couponCodeError" class="error-message"></small>
                                    </div>
                                    <div class="form-group">
                                        <label for="discountPercentage" class="form-label">Discount Percentage</label>
                                        <input type="number" min="0" max="100" placeholder="Enter discount percentage" name="discountpercentage" id="discountPercentage" class="form-control" required>
                                        <small id="discountError" class="error-message"></small>
                                    </div>
                                    <div class="form-group">
                                        <label for="minAmount" class="form-label">Minimum Purchase Amount</label>
                                        <input type="number" min="0" placeholder="Enter minimum purchase amount" name="minimumAmount" id="minAmount" class="form-control" required>
                                        <small id="minAmountError" class="error-message"></small>
                                    </div>
                                    <div class="form-group">
                                        <label for="validUntil" class="form-label">Valid until</label>
                                        <input type="date" id="validUntil" name="validUntil" class="form-control" required>
                                        <small id="validUntilError" class="error-message"></small>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Create Coupon</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Table Section -->
                        <div class="col-md-8">
                            <div class="table-responsive">
                                <table class="table table-hover premium-table">
                                    <!-- Table header and body content -->

                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Code</th>
                                            <th>Discount</th>
                                            <th>Min Purchase Amount</th>
                                            
                                            <th>Validity</th>
                                            <th>Status</th>
                                            <th class="text-end">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (locals.coupons) { %>
                                            <% for (let i = 0; i < coupons.length; i++) { %>
                                                <tr>
                                 
                                 
                                                    <td><%= coupons[i].name %></td>
                                                    <td><%= coupons[i].code %></td>
                                                    <td><%= coupons[i].discountpercentage %> %</td>
                                                    <td>Rs <%= coupons[i].minimumAmount %></td>
                                                  
                                                    <td><%= coupons[i].validUntil.toLocaleDateString() %></td>
                                                   <% if(coupons[i].is_active==true){%>
                                                        <td><span class="badge rounded-pill alert-success">Active</span></td>
                                                   <% }else{%>
                                                    <td><span class="badge rounded-pill alert-danger">Blocked</span></td>
                                                  <% } %>

                                                 <% if(coupons[i].is_active==true){%>
                                                    <td><a class="premium-button"  href="/admin/blockCoupon?id=<%= coupons[i]._id %>">Block</a></td>

                                                  <%} else{%>
                                                    <td><a class="premium-button"  href="/admin/unblockCoupon?id=<%= coupons[i]._id %>">Unblock</a></td>

                                                 <% } %>
                                                  


                                                   
                                                    
                                                  
                                                </tr>
                                            <% } %>
                                        <% } %>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



       
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
<!-- Include Axios library for making HTTP requests -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const couponForm = document.getElementById('couponForm');

        couponForm.addEventListener('submit', async (e) => {
            e.preventDefault();

            const formData = new FormData(couponForm);
            try {
                const name = formData.get('name').trim();
                const code = formData.get('code').trim();
                const discountpercentage = parseInt(formData.get('discountpercentage'));
                const minimumAmount = parseInt(formData.get('minimumAmount'));
                const validUntil = new Date(formData.get('validUntil'));

                let isValid = true;

                if (!/^[A-Za-z0-9]+$/.test(name)) {
                    document.getElementById('couponNameError').textContent = 'Invalid name format.';
                    isValid = false;
                } else {
                    document.getElementById('couponNameError').textContent = '';
                }

                if (!/^[A-Za-z0-9]+$/.test(code)) {
                    document.getElementById('couponCodeError').textContent = 'Invalid code format.';
                    isValid = false;
                } else {
                    document.getElementById('couponCodeError').textContent = '';
                }

                if (discountpercentage < 0 || discountpercentage > 100 || isNaN(discountpercentage)) {
                    document.getElementById('discountError').textContent = 'Discount percentage must be between 0 and 100.';
                    isValid = false;
                } else {
                    document.getElementById('discountError').textContent = '';
                }

                if (minimumAmount <= 0 || isNaN(minimumAmount)) {
                    document.getElementById('minAmountError').textContent = 'Minimum purchase amount must be positive.';
                    isValid = false;
                } else {
                    document.getElementById('minAmountError').textContent = '';
                }

                const currentDate = new Date();
                if (validUntil < currentDate) {
                    document.getElementById('validUntilError').textContent = 'Valid until date cannot be in the past.';
                    isValid = false;
                } else {
                    document.getElementById('validUntilError').textContent = '';
                }

                if (isValid) {
                    // Make an AJAX request to submit the form data
                    await axios.post('/admin/createCoupon', Object.fromEntries(formData));
                   
                    
                    // alert('Coupon created successfully!');



                    Swal.fire({
                     position: "center",
                      icon: "success",
                       title: "Coupon Created Successfully",
                       showConfirmButton: false,
                        timer: 1500
                        });
                   

                    couponForm.reset();

                    setTimeout(()=>{
                        window.location.reload()

                    },1000)
                    
                }
            } catch (error) {
                console.error(error);
                // alert('Coupon Already Exists');
                Swal.fire({
  icon: "error",
  
  text: "Coupon Already Exists",
  
});
            }
        });
    });
</script>
    
    <script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/admin-assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
</html>