<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
<head>
    <meta charset="utf-8">
    <title>Checkout</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/logo.png">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   


    <style>
        .premium-toggle-info {
    margin-bottom: 20px;
    font-size: 18px;
    color: #555;
}

.premium-toggle-info a {
    color: #203f2c;
    text-decoration: none;
}

.premium-toggle-info a:hover {
    text-decoration: underline;
}

.coupon-form {
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.premium-panel-body {
    padding: 20px;
}

.premium-panel-body p {
    margin-bottom: 30px;
    font-size: 16px;
    color: #777;
}

.premium-select-wrapper select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
    color: #555;
    transition: border-color 0.3s ease;
}

.premium-select-wrapper select:focus {
    border-color: #15423e;
    outline: none;
}

.premium-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1c4437;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.premium-btn:hover {
    background-color: #397468;
}




/* === coupon */


.coupon {
    width: 200px;
    background-color: #f5f5f5;
    border: 2px dashed #cccccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.coupon-content {
    color: #333333;
}

.coupon-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.coupon-code {
    font-size: 24px;
    color: #ff0000;
    margin-bottom: 10px;
    display: block;
}

.coupon-description {
    font-size: 14px;
}


.coupon-content {
    border: 2px solid #6c757d;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.coupon-content:hover {
    border-color: #007bff;
}

* Custom CSS for black-themed header */
body {
            font-family: Arial, sans-serif;
            padding: 0;
             margin: 0;
             overflow-x: hidden;
           

            
   
        }

        .custom-header-top {
            background-color: rgba(3, 3, 83, 0.98);
            color: white;
            padding: 10px 0;
        }

        .custom-header-info,
        .custom-header-info-right {
            text-align: center;
        }

        .custom-language-dropdown-active {
            color: white;
            text-decoration: none;
        }

       

        .custom-language-dropdown li {
            padding: 10px;
        }

        .custom-language-dropdown li a {
            color: white;
            text-decoration: none;
        }

















/* ==== */



    </style>
</head>

<body>
    <header class="header-area header-style-4 header-height-2">
        <div class="custom-header-top custom-header-top-ptb-1 d-none d-lg-block">
            <div class="">
                <div class="row align-items-center" >
                    <div class="col-xl-3 col-lg-3">
                        <div class="custom-header-info">
                           
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                       
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="custom-header-info custom-header-info-right">
                            <ul>
                               
                                <% if(locals.loginData) { %>
                                <li>
                                    <li class="dropdown nav-item">
                                    <i class="fa-solid fa-user"></i>&nbsp;&nbsp;&nbsp;<a style="color: #ffffff;" href="#"><%= loginData.name %></a>
                                        <a style="color: #ffffff;" class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">
                                           
                                        </a>
                                        <ul>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="/userDashboard"><i class="material-icons md-settings"></i>Account</a>
                                              
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item text-danger" href="/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                                            </div>
                                        </ul>
                                    </li>
                                    <% } else { %>
                                    <li><i class="fa-solid fa-user"></i>&nbsp;&nbsp;&nbsp;<a  style="color: #ffffff;" href="/login">Login</a></li>

                                    <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
       
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                  

                    <ul>
                        <li class="position-static"><a href="/"><img src="assets/imgs/theme/logo.png" alt="logo" style="height: 45px;"></a>
                                       
                        </li>
                    </ul>



                   
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">





                           
                        </div>

                       
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                               
                                
                                <ul>



                                   <li class="position-static"><a href="/">Home </a>
                                       
                                    </li>
                                    <li class="position-static"><a href="/cart">Cart</a></li>

                                    <li class="position-static"><a href="/wishlist">Wishlist</a>
                                       
                                    </li>
                                    
                                    <li><a href="/shop">Shop </a>
                                        
                                       
                                    </li>
                                   
                                
                                   
                                    <li>
                                        <a href="/contact">Contact</a>
                                    </li>
                                   
                                </ul>
                            </nav>
                        </div>
                    </div>
                    
                   
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="shop-wishlist.html">
                                    
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="shop-cart.html">
                                    <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                                    <span class="pro-count white">2</span>
                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara" src="assets/imgs/shop/thumbnail-3.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Plain Striola Shirts</a></h4>
                                                <h3><span>1 × </span>$800.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara" src="assets/imgs/shop/thumbnail-4.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Macbook Pro 2022</a></h4>
                                                <h3><span>1 × </span>$3500.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Total <span>$383.00</span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <%if(locals.loginData){%>
                                            <a href="/cart">View cart</a>
                                            <%}%>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-small">
                            <ul>
                                <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's Clothing</a></li>
                                <li> <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> Cellphones</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer & Office</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer Electronics</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother & Kids</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="index.html">Home</a>
                                <ul class="dropdown">
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index-2.html">Home 2</a></li>
                                    <li><a href="index-3.html">Home 3</a></li>
                                    <li><a href="index-4.html">Home 4</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="shop-grid-right.html">shop</a>
                                <ul class="dropdown">
                                    <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                    <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                    <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                    <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                    <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Single Product</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                                            <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                                            <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-filter.html">Shop – Filter</a></li>
                                    <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                    <li><a href="shop-cart.html">Shop – Cart</a></li>
                                    <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                    <li><a href="shop-compare.html">Shop – Compare</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Mega menu</a>
                                <ul class="dropdown">
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Women's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Dresses</a></li>
                                            <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                                            <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                                            <li><a href="shop-product-right.html">Women's Sets</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Men's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Jackets</a></li>
                                            <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                                            <li><a href="shop-product-right.html">Genuine Leather</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Technology</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                            <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                                            <li><a href="shop-product-right.html">Tablets</a></li>
                                            <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                            <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="blog-category-fullwidth.html">Blog</a>
                                <ul class="dropdown">
                                    <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                    <li><a href="blog-category-list.html">Blog Category List</a></li>
                                    <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                    <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Single Product Layout</a>
                                        <ul class="dropdown">
                                            <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                            <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                            <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="page-about.html">About Us</a></li>
                                    <li><a href="page-contact.html">Contact</a></li>
                                    <li><a href="page-account.html">My Account</a></li>
                                    <li><a href="page-login-register.html">login/register</a></li>
                                    <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                    <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="page-terms.html">Terms of Service</a></li>
                                    <li><a href="page-404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
                                <ul class="dropdown">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a  href="page-contact.html"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="page-login-register.html">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Checkout
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
               
                <!-- </div> -->
                <div class="row">
                    <div class="col-12">
                        <div class="divider mt-50 mb-50"></div>
                    </div>
                </div>
                <div class="row">
                   
                    <div class="col-md-6">
                        
                        <div class="mb-25">
                            <h5>Shipment details</h5><a href="/checkOutAddress" class="btn-small">Add new Address</a>
                        </div>
                        <%if(locals.addressData){%>

                      
                        <div>
                            <div class="col-lg-10">
                                <%addressData.forEach((address)=>{%>
                                <div class="card">
                                    
                                    <div class="d-flex  justify-content-between card-header" >
                                       <div>
                                        <h5 class="mb-0">Shipping Address</h5>
                                       </div>
                                        <div >
                                            <input class="form-check-input" required="" type="radio" name="delivery_address" id="exampleRadios10" value="<%=address._id%>"  >
    
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p>Name :<%=address.first_name%> <%=address.last_name%></p>
                                        <address>Address :<%=address.address%><br>
                                            City :<%=address.city%><br>State :<%=address.state%><br>Phone : <%=address.mobile%><br>Zipcode :<%=address.zipcode%></address><br>
                                        
                                        <!-- <a href="#" class="btn-small">Edit</a> -->
                                    </div>
                                   
                                </div>
                                <br>
                                <%})%>
                                
                            </div>
                        </div>
                        <%}%>
                       
                    </div>
                    <!-- -------------- -->
 
                    <!-- ---------- -->
                    <div class="col-md-6">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Your Orders</h4>
                            </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2" style="font-weight: bold;">Product</th>
                                            <th style="font-weight: bold;">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%if(locals.cartData){%>
                                            
                                            <%var total=0%>
                                        <%cartData.products.forEach((cart)=>{%>

                                            <%total+=cart.productId.salesprice*cart.quantity%>
                                            
                                           
                                            <tr>
                                                <td class="image product-thumbnail"><img src="/uploads/<%=cart.productId.image[0]%>" alt="#"></td>
                                                <td>
                                                    <h5><a href="shop-product-full.html"><%=cart.productId.title%></a></h5> <span class="product-qty" style="font-weight: bold;"><%=cart.quantity%> pieces</span>
                                                </td>
                                                <td style="font-weight: bold;">₹ <%=cart.productId.salesprice%></td>
                                            </tr>
                                          

                                       
                                       
                                        <%})%>
                                        <tr>
                                            <th style="font-weight: bold;">Total</th>
                                            <td class="product-subtotal" style="font-weight: bold;" colspan="2">₹ <%=total%></td>
                                        </tr>
                                       
                                        <!-- <tr>
                                            <th style="font-weight: bold;">Coupon</th>
                                            <td colspan="2" id="couponName"><em></em></td>
                                        </tr> -->
                                        <tr>
                                            <th style="font-weight: bold;">Discount</th>
                                            <td colspan="2"  class="product-subtotal"><span class="font-xl text-brand fw-900">₹</span><span id="discount" class="font-xl text-brand fw-900">0</span></td>
                                        </tr>
                                        <tr>
                                            <th style="font-weight: bold;">Grand Total</th>
                                            <td colspan="2"  class="product-subtotal"><span class="font-xl text-brand fw-900">₹</span><span id="GrandTotal" class="font-xl text-brand fw-900"> <%=total%></span></td>
                                        </tr>
                                        <%}%>
                               
                                    </tbody>
                                </table>
                            </div>
                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                            <div class="payment_method">
                                <div class="mb-25">
                                    <h5>Payment</h5>
                                </div>
                                <div class="payment_option d-flex" >
                                    
                                   <div>
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios6" value="Cash on delivery" checked="">
                                        <label class="form-check-label" for="exampleRadios6" data-bs-toggle="collapse" data-target="#paypal" aria-controls="paypal">Cash On delivery</label>
                                        <div class="form-group collapse in" id="cod">
                                            <p class="text-muted mt-5">Pay via PayPal; you can pay with your credit card if you don't have a PayPal account.</p>
                                        </div>
                                    </div>

                                    <div class="custome-radio">
                                        <!-- Wallet option -->
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="walletOption" value="Wallet">
                                        <label class="form-check-label" for="walletOption" data-bs-toggle="collapse" data-target="#wallet" aria-controls="wallet">Wallet</label>
                                        


                                        <!-- Button to trigger modal -->
                                      <a href="#" style="margin-left: 10px;" id="viewBalanceLink" data-bs-toggle="modal" data-bs-target="#walletModal" class="view-balance-link">View Balance</a>

                                 <!-- Modal -->
                                <div class="modal fade" id="walletModal" tabindex="-1" aria-labelledby="walletModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                       <div class="modal-content">
                                           <div class="modal-header">
                                              <h5 class="modal-title" id="walletModalLabel">Wallet Balance</h5>
                                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                              <div class="modal-body" id="walletBalance">
                                              <!-- Wallet balance will be displayed here -->
                                               </div>
                                     </div>
                                  </div>
                              </div>
                              <script>
                                // JavaScript to fetch and display wallet balance
                                document.getElementById('viewBalanceLink').addEventListener('click', function(event) {
                                  event.preventDefault(); // Prevent the default action of the link
                                  fetchWalletBalance(); // Call function to fetch wallet balance
                                });
                              
                                function fetchWalletBalance() {

                                    fetch('/Wallet')
                                 .then(response => {
                                   if (!response.ok) {
                                 throw new Error('Failed to fetch wallet balance');
                                   }
                                 return response.json();
                                 })
                                .then(data => {
                                    const formattedBalance = parseFloat(data.balance).toFixed(2);
                                   // Update modal with fetched wallet balance
                                  document.getElementById('walletBalance').innerHTML = 'Available balance :  ' + formattedBalance;
                                })
                                 .catch(error => {
                                   console.error(error);
                                  // Display error message in modal
                                 document.getElementById('walletBalance').innerHTML = 'Available balance : 0 . 00';
                                });
                                }
                              </script>


                                        <!-- ___________________________________ -->
                                        

                                        <!-- Additional information for Wallet -->
                                        <div class="form-group collapse in" id="wallet">
                                            <p class="text-muted mt-5">Pay via wallet</p>
                                        </div>
                                    </div>
                                    
                                    <div class="custome-radio">
                                        <!-- Razorpay option -->
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="razorpayOption" value="Razorpay">
                                        <label class="form-check-label" for="razorpayOption" data-bs-toggle="collapse" data-target="#razorpay" aria-controls="razorpay">Razorpay</label>
                                        <!-- Additional information for Razorpay -->
                                        <div class="form-group collapse in" id="razorpay">
                                            <p class="text-muted mt-5">Pay via Razorpay.</p>
                                        </div>
                                    </div>

                                   </div>
                                   <div class="col-lg-6 m-5 mt-0">
                                    <div class="premium-toggle-info">
                                        <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Apply now</a></span>
                                    </div>
                                
                                    <div class="premium-panel-collapse collapse coupon-form" id="coupon">
                                        <div class="premium-panel-body">

                                                <div class="container mt-5">

                                                    <%if(locals.coupons){%>
                                                        <%for(let i=0;i<coupons.length;i++){%>
                                                            <br>
                                                            <div class="coupon-content">
                                                                <span class="coupon-title"><%=coupons[i].name%></span>
                                                                <span class="coupon-code"><%=coupons[i].code%></span>
                                                                <span class="coupon-description">Get <span style="color: blue;"><%=coupons[i].discountpercentage%>  %</span> off  while purchase above <span style="color: #0e21f6;"><%=coupons[i].minimumAmount%></span> </span>
                                                                <button onclick="applyCoupon(`<%=coupons[i]._id%>`)" type="button" class="btn btn-md premium-btn" name="login">Apply</button>
                                                            </div>
                                                            

                                                       <% } %>
                                                       
                                                    <%}%>     
                                                </div>
                                               
                                               
                                           
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                    
                              </div>
                            </div>
                            <button onclick="placeOrder()" class="btn btn-fill-out btn-block mt-30">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="assets/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                        </form>
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="assets/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img src="assets/imgs/theme/google-play.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="assets/imgs/theme/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>


    <script>

function placeOrder() {
    let id ;
    console.log("place order worked")
    const selectedRadioButton = document.querySelector('input[name="payment_option"]:checked').value;
    // const selectedAddress = document.querySelector('input[name="delivery_address"]:checked').value;
    const sa = document.querySelector('input[name="delivery_address"]:checked');
    const totalAmount=document.getElementById("GrandTotal").innerText
    const discountAmount=document.getElementById("discount").innerText
    console.log("discountAmount from coupon:",discountAmount)
    let selectedAddress 

  if(!sa){
    toastr.warning("Address not found")
    return
  }else{
     selectedAddress = document.querySelector('input[name="delivery_address"]:checked').value;

  } 

   
    console.log(selectedRadioButton)
    console.log(selectedAddress)
    console.log(totalAmount)
    
    // Get values from the form


   
    const orderData ={
        paymentMethod:selectedRadioButton,
        selectedAddress:selectedAddress,
        amount:totalAmount,
        couponDiscount:discountAmount,    
    }

    
    console.log("Data :",orderData)
    console.log("Amount:",totalAmount)
    console.log('addres',selectedAddress)
   
    


    if(selectedRadioButton==='Razorpay'){

        fetch('/paymentByRazorpay',{
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify(orderData)
        })



        .then(response=>response.json())
        .then(data=>{
            const orderId= data.razOrder
            id = data.id
            initiatePayment(orderId)
            

        })




        function initiatePayment(orderId){
            let order= JSON.stringify(orderId)
           
        
            var options = {
    "key": "rzp_test_HLFENnvKhWUWjZ",                   // Enter the Key ID generated from the Dashboard
    "amount":Math.ceil(totalAmount*100),               // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Sonic Rhythmes",
    "description": "Test Transaction",
    "image": "assets/imgs/theme/logo.png",
    "order_id":order.id,                         //This is a sample Order ID. Pass the id obtained in the response of Step 1
    "handler": function (response){


                                             // alert(response.razorpay_payment_id);
                                            // alert(response.razorpay_order_id);
                                           // alert(response.razorpay_signature)
                                          // window.location.href="/";
        Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Order Placed',
                        showConfirmButton: false,
                        timer: 2000,
                    });
                    setTimeout(() => {
                        window.location.href = '/';
                    }, 1000);
    },
    "prefill": {
        "name": 'hghghhh',
        "email": 'jhhgjhg',
        "contact": 'hfjuhfjuhg'
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": " rgba(3, 3, 83, 0.98);"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){


    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Cannot place order!',
                    });
  
     setTimeout(()=>{
        window.location.href =`/changestatus?id=${id}`

     },1500)
      
        // alert(response.error.description);
        // alert(response.error.source);
        // alert(response.error.step);
        // alert(response.error.reason);
        // alert(response.error.metadata.order_id);
        // alert(response.error.metadata.payment_id);
});

rzp1.open()
        }

       



    }else if(selectedRadioButton==='Wallet'){


        fetch('/placeorderWallet', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(orderData),
        })
            .then(response => response.json())
            .then(data => {
                // Handle success or failure based on the response
                if (data.message === 'Order placed successfully') {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Order Placed',
                        showConfirmButton: false,
                        timer: 2000,
                    });
                    setTimeout(() => {
                        window.location.href = '/';
                    }, 1000);
                } else {
                    // Handle error response
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Cannot place order!',
                    });
                }
            })
            .catch(error => {
                // Handle network errors or other issues
                console.error('Error:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!',
                });
            });


       


    }else{



    // Send a POST request to the server
    fetch('/placeorder', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(orderData),
    })
    .then(response => response.json())

    


    .then(data => {
        Swal.fire({
  position: "center",
  icon: "success",
  title: "Order Placed",
  showConfirmButton: false,
  timer:2000
  
  });
        
       
    })
    .then(()=>{

        setTimeout(()=>{
            window.location.href='/'

        },1000)
       
    })
    
//     .catch(error=>{
      
//         Swal.fire({
//   icon: "error",
//   title: "Oops...",
//   text: "Cannot place order !",

//    });
        
//     })


    .catch(error => {
  
    toastr.error( "Cash on delivery is not applicable for this order!");
    })

  
    
 
    .catch(error => {
        // console.error('Error placing order:', error.message);
        Swal.fire({
  icon: "error",
  title: "Oops...",
  text: "Something went wrong!",
//   footer: '<a href="#">Why do I have this issue?</a>'
});
        // Handle error (display an error message, etc.)
    });
}
}

// ================================coupons====



function applyCoupon(couponId){




    fetch(`/applyCoupon?couponId=${couponId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ couponId: couponId })
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            }
            throw new Error('Network response was not ok.');
        })
        .then(data => {
            // Handle response from the server

            if (!data.success) {
                toastr.error(data.message)
                // Use !data.success to check if success is false
       // Access message from the response
    } else {
        toastr.success(data.message);
        
        console.log(data);
         console.log(coupon)
         console.log("grandtotal:",data.grandTotal)
         document.getElementById("GrandTotal").innerText = ` ${data.grandTotal}`;
         document.getElementById("couponName").innerText = ` ${data.coupon.name}`;
         document.getElementById("discount").innerText = ` ${data.discountAmount}`;
      
         // If success, display success message
    }

    


        })
        .catch(error => {
            // Handle errors
            console.error('Error:', error);
        });
    }









// ========coupon code====






    </script>
    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
    <script src="assets/js/shopd134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>