<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-product-full.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:46 GMT -->
<head>
    <meta charset="utf-8">
    <title>Sonic Rhythmes</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/logo.png">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
<link rel="stylesheet" href="assets/js/magiczoom.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script src="assets/js/magiczoom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>

.product-extra-link2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-extra-link2 .button-add-to-cart {
    flex-grow: 1;
    margin-right: 10px; /* Adjust margin as needed */
}

.product-extra-link2 .action-btn {
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    color: #faf7f7; /* Adjust color as needed */
    border: 1px solid #ccc; /* Adjust border as needed */
    padding: 10px; /* Adjust padding as needed */
}

/* Media query for mobile responsiveness */
@media screen and (max-width: 768px) {
    .product-extra-link2 {
        flex-direction: column;
    }

    .product-extra-link2 .button-add-to-cart,
    .product-extra-link2 .action-btn {
        margin: 5px 0;
    }
}

body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .custom-header-top {
            background-color: rgba(3, 3, 83, 0.98);
            color: white;
            padding: 10px 0;
        }

        .custom-header-info,
        .custom-header-info-right {
            text-align: center;
        }

        .custom-language-dropdown-active {
            color: white;
            text-decoration: none;
        }

       

        .custom-language-dropdown li {
            padding: 10px;
        }

        .custom-language-dropdown li a {
            color: white;
            text-decoration: none;
        }

        .sold-out-message {
        display: inline-block;
        padding: 5px 10px;
        background-color: #ff6347; /* Coral red background color */
        color: white;
        font-weight: bold;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 10px; /* Optional margin bottom for spacing */
    }




</style>

</head>

<body>
   
    <header class="header-area header-style-4 header-height-2">
        <div class="custom-header-top custom-header-top-ptb-1 d-none d-lg-block">
            <div class="">
                <div class="row align-items-center" >
                    <div class="col-xl-3 col-lg-4">
                        <div class="custom-header-info">
                            <!-- Content here if needed -->
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <!-- Content here if needed -->
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="custom-header-info custom-header-info-right">
                            <ul>
                                <% if (locals.loginData) { %>
                                    <li class="dropdown nav-item ">
                                        <i class="fa-solid fa-user"></i>&nbsp;&nbsp;&nbsp;<a style="color: #ffffff;" href="#"><%= loginData.name %></a>
                                        <a style="color: #ffffff;" class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">
                                            <!-- <img class="img-xs rounded-circle" style="height: 40px; width: 40px;" src="/admin-assets/imgs/people/avatar2.jpg" alt="User"> -->
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end ">
                                            <li><a class="dropdown-item" href="/userDashboard" onclick="closeDropdown(event)"><i class="material-icons md-settings"></i>Account</a></li>
                                            <!-- <li><a class="dropdown-item" href="#" onclick="closeDropdown(event)"><i class="material-icons md-account_balance_wallet"></i>Wallet</a></li> -->
                                            <li class="dropdown-divider"></li>
                                            <li><a class="dropdown-item text-danger" href="/logout" onclick="closeDropdown(event)"><i class="material-icons md-exit_to_app"></i>Logout</a></li>
                                        </ul>
                                    </li>
                                <% } else { %>
                                    <li><i class="fa-solid fa-user"></i>&nbsp;&nbsp;&nbsp;<a style="color: #ffffff;" href="/login">Login</a></li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    <!-- </body> -->
       
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                  

                    <ul>
                        <li class="position-static"><a href="/"><img src="assets/imgs/theme/logo.png" alt="logo" style="height: 45px;"></a>
                                       
                        </li>
                    </ul>



                   
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">





                           
                        </div>

                       
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                               
                                
                                <ul>



                                   <li class="position-static"><a href="/">Home </a>
                                       
                                    </li>
                                    <li class="position-static"><a href="/cart">Cart</a></li>

                                    <li class="position-static"><a href="/wishlist">Wishlist</a>
                                       
                                    </li>
                                    
                                    <li><a href="/shop">Shop </a>
                                        
                                       
                                    </li>
                                   
                                
                                   
                                    <li>
                                        <a href="/contact">Contact</a>
                                    </li>
                                   
                                </ul>
                            </nav>
                        </div>
                    </div>
                    
                   
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="shop-wishlist.html">
                                    
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="shop-cart.html">
                                    <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                                    <span class="pro-count white">2</span>
                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara" src="assets/imgs/shop/thumbnail-3.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Plain Striola Shirts</a></h4>
                                                <h3><span>1 × </span>$800.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara" src="assets/imgs/shop/thumbnail-4.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Macbook Pro 2022</a></h4>
                                                <h3><span>1 × </span>$3500.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Total <span>$383.00</span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <%if(locals.loginData){%>
                                            <a href="/cart">View cart</a>
                                            <%}%>
                                            <!-- <a href="shop-checkout.html">Checkout</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="assets/imgs/theme/logo.png" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        
                    </div>
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/">Home</a>
                                
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/cart">Cart</a>
                                
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/shop">shop</a>
                                
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/">Mega menu</a>
                               
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/contact">Contact</a>
                               
                            </li>
                           
                           
                           
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
                                <ul class="dropdown">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a  href="/contact"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="page-login-register.html">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <!-- <span></span> Fashion -->
                    <span></span> Product Details
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-50">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-gallery">
                                        <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider">
                                        <%for(i=0;i<products.image.length;i++){%>

                                       
                                       
                               
                                            <figure class="border-radius-10">
                                                <a href="/uploads/<%=products.image[i]%>" class="MagicZoom">
                                                <img style="max-width: fit-content;" src="/uploads/<%=products.image[i]%>" alt="product image">
                                            </a>
                                            </figure>
                                            <%}%>                                             

                                            
                                            <!-- <figure class="border-radius-10">
                                                <img src="assets/imgs/shop/product-16-1.jpg" alt="product image">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="assets/imgs/shop/product-16-3.jpg" alt="product image">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="assets/imgs/shop/product-16-4.jpg" alt="product image">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="assets/imgs/shop/product-16-5.jpg" alt="product image">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="assets/imgs/shop/product-16-6.jpg" alt="product image">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="assets/imgs/shop/product-16-7.jpg" alt="product image">
                                            </figure> -->
                                        </div>
                                       
                                        <!-- THUMBNAILS -->
                                        <div class="slider-nav-thumbnails pl-15 pr-15">
                                        <%for(i=0;i<products.image.length;i++){%>
                                      
                                            <div><img src="/uploads/<%=products.image[i]%>" alt="product image"></div>
                                            <!-- <div><img src="assets/imgs/shop/thumbnail-4.jpg" alt="product image"></div>
                                            <div><img src="assets/imgs/shop/thumbnail-5.jpg" alt="product image"></div>
                                            <div><img src="assets/imgs/shop/thumbnail-6.jpg" alt="product image"></div>
                                            <div><img src="assets/imgs/shop/thumbnail-7.jpg" alt="product image"></div>
                                            <div><img src="assets/imgs/shop/thumbnail-8.jpg" alt="product image"></div>
                                            <div><img src="assets/imgs/shop/thumbnail-9.jpg" alt="product image"></div> -->
                                     
                                        <%}%>
                                    </div>
                                    </div>
                                    <!-- End Gallery -->
                                </div>

                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <h2 class="title-detail"><%=products.title%></h2>
                                        <div class="product-detail-rating">
                                            <div class="pro-details-brand">
                                                <span style="color: rgba(146, 47, 47, 0.667); font-weight: bold;">  <%=products.category.name%></span> <br><br>

                                                <span style="color: black; font-weight: bolder;"> Brand: <span style="color: rgb(86, 128, 195); font-weight: bolder;" ><%=products.brand.name%></span></span>
                                            </div>
                                            <!-- <div class="product-rate-cover text-end">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width:90%">
                                                    </div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                            </div> -->
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <ins><span class="text-brand">₹<%=products.salesprice%></span></ins>
                                                <ins><span style="color: red;" class="old-price font-md ml-15">₹<%=products.regularprice%></span></ins>
                                               <% if (products.category.offerPercent > 0){%>
                                                    <span  style="color: rgba(90, 171, 90, 0.838); font-weight: bold;" class="save-price  font-md color3 ml-15"><%=products.category.offerPercent%>% Off for the product </span>

                                               <% }else{%>
                                                <span class="save-price  font-md color3 ml-15"> </span>

                                               <%} %>
                                                
                                            </div>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <div class="short-desc mb-30">
                                            <p><%=products.description%></p>
                                        </div>
                                        <div class="product_sort_info font-xs mb-30">
                                            <ul>
                                                <li class="mb-10"><i class="fi-rs-crown mr-5"></i>  Brand Warranty</li>
                                                <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy</li>
                                                <%if(products.salesprice < 1000){%>
                                                    <li style="color: rgba(90, 171, 90, 0.838); font-weight: bold;"><i class="fi-rs-credit-card mr-5" ></i> Cash on Delivery available</li>

                                               <% }else{ %>
                                                    <li style="color: rgba(155, 40, 40, 0.879); font-weight: bold;"><i class="fi-rs-credit-card mr-5"></i> COD is not available for this product</li>

                                             <%  } %>
                                               
                                            </ul>
                                        </div>
                                       
                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                         
                                       <% if(products.quantity == 0){%>

                                        <span class="sold-out-message">Sold Out</span>

                                       <% }else{%>

                                            <div class="detail-extralink">
                                            

                                            
                                                <div class="detail-qty border radius">
                                                    <a href="#" class="qty-down" onclick="decreaseQuantity()"><i class="fi-rs-angle-small-down"></i></a>
                                                    <span class="qty-val" id="qty">1</span>
                                                    <a href="#" class="qty-up" onclick="increaseQuantity()"><i class="fi-rs-angle-small-up"></i></a>
                                                </div>
                                                <div class="product-extra-link2">
                                                    <button type="submit" style="background-color: rgba(3, 3, 83, 0.98); color: white;" onclick="addToCart()" class="button button-add-to-cart">Add to cart</button>
                                                    <input type="hidden" name="productId" id="productId" value="<%=products._id%>">
                                                    <button type="submit" style="background-color: rgba(3, 3, 83, 0.98); color: white;" onclick="addToWishlist()" aria-label="Add To Wishlist" class="action-btn hover-up" ><i class="fi-rs-heart"></i></button>
                                                    <!-- <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a> -->
                                                </div>
    
    
                                                   
                                                   
                                                </div>
                                            </div>

                                       <% } %>
                                       


                                        
                                        

                                       
                                        
                                        <ul class="product-meta font-xs color-grey mt-50">
                                            <% if(products.quantity == 0){%>
                                            
                                            <li><span style="color: black;font-size: small;font-weight: bold;">Availability :</span><span style="font-weight: bold;" class="in-stock text-danger ml-5"><%=products.quantity%> Items In Stock</span></li>
                                            <%}else{%>
                                             <li><span style="color: black;font-size: small;font-weight: bold;">Availability :</span><span style="font-weight: bold;" class="in-stock text-success ml-5"><%=products.quantity%> Items In Stock</span></li>
                                                

                                            <%}%>
                                        </ul>
                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 m-auto entry-main-content">
                                    
                                   
                                    <div class="comments-area style-2">
                                        <div class="row">
                                            <div class="col-lg-8">
                                               
                                               
                                                    <!--single-comment -->
                                                    
                                                    <!--single-comment -->
                                                   
                                                    <!--single-comment -->
                                               
                                            </div>
                                            <div class="col-lg-4">
                                                <!-- <h4 class="mb-30">Customer reviews</h4>
                                                <div class="d-flex mb-30">
                                                    <div class="product-rate d-inline-block mr-15">
                                                        <div class="product-rating" style="width:90%">
                                                        </div>
                                                    </div>
                                                    <h6>4.8 out of 5</h6>
                                                </div>
                                                <div class="progress">
                                                    <span>5 star</span>
                                                    <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                                </div>
                                                <div class="progress">
                                                    <span>4 star</span>
                                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                                </div>
                                                <div class="progress">
                                                    <span>3 star</span>
                                                    <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                                                </div>
                                                <div class="progress">
                                                    <span>2 star</span>
                                                    <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                                                </div>
                                                <div class="progress mb-30">
                                                    <span>1 star</span>
                                                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                                </div>
                                                <a href="#" class="font-xs text-muted">How are ratings calculated?</a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <!--comment form-->
                                
                                </div>
                            </div>
                            <div class="row mt-60">
                                
                                
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="assets/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                        </form>
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="index.html"><img src="assets/imgs/theme/logo.png" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="assets/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img src="assets/imgs/theme/google-play.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="assets/imgs/theme/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->

    <script>
var currentQuantity = 1; // Initialize the quantity

function increaseQuantity() {
    // if(currentQuantity<=products.quantity){
        currentQuantity++;
    document.getElementById('qty').innerText = currentQuantity;

    // }
  
}

function decreaseQuantity() {
    if (currentQuantity > 1) {
        currentQuantity--;
        document.getElementById('qty').innerText = currentQuantity;
    }
}

function addToCart() {

    var quantity = parseInt(currentQuantity);
    var productId = document.getElementById('productId').value;

    console.log('Quantity:', quantity);
    console.log('Product ID:', productId);

    // Add your fetch logic here
     




        fetch("/addtoCart", {
    method: "POST",
    headers: {
        'Content-Type': 'application/json',
    },
    body: JSON.stringify({ quantity, productId }),
})
.then(response => {

    if (!response.ok) {
        throw new Error(`Failed to add item to cart. Status: ${response.status}`);
    }
    return response.json(); // Assuming your server sends a JSON response
})
.then(data => {
   
    // Handle the response data accordingly, e.g., show a success message
   
    if(!data.success){
        toastr.error(data.message);
        // alert(data.message)
    } else{
        Swal.fire({
        icon: 'success',
        title: 'Added Successfully',
        showConfirmButton: true,
        confirmButtonClass: 'btn btn-warning',
    })
    .then(() => {
        window.location.href = '/cart';
    });
    }
})
.catch(error => {
    
    console.error('Error adding item to cart:', error);
    // Handle the error, e.g., show an error message to the user
});

    

}


// add to wishlist....................



function addToWishlist() {

//var quantity = parseInt(currentQuantity);
var productId = document.getElementById('productId').value;

//console.log('Quantity:', quantity);
console.log('Product ID:', productId);

// Add your fetch logic here
 




    fetch("/addtoWishlist", {
method: "POST",
headers: {
    'Content-Type': 'application/json',
},
body: JSON.stringify({productId }),
})
.then(response => {

if (!response.ok) {
    throw new Error(`Failed to add item to cart. Status: ${response.status}`);
}
return response.json(); // Assuming your server sends a JSON response
})
.then(data => {

// Handle the response data accordingly, e.g., show a success message

if(!data.success){
    toastr.error(data.message);
    // alert(data.message)
} else{
    Swal.fire({
    icon: 'success',
    title: 'Added Successfully',
    showConfirmButton: true,
    confirmButtonClass: 'btn btn-warning',
})
.then(() => {
    window.location.href = '/wishList';
});
}
})
.catch(error => {

console.error('Error adding item to cart:', error);
// Handle the error, e.g., show an error message to the user
});



}






    </script>
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
    <script src="assets/js/shopd134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-product-full.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:46 GMT -->
</html>